*{
    padding: 0;
    margin: 0;
}
.main-cointainer{
    min-height: 120vh;
    background-color: #cad2c5;
    width: 100%;
   
}
.nav{
    background-color: rgba(47,61,70,255);
    height: 100px;
    display: flex;
    width: 100%;
}
.nav img{
    height: 50px;
    margin: 20px;
    position: relative;
    left: 50px;
}
.nav h1{
    margin: auto;
    color: white;
}

.side{
background-color: rgb(61, 60, 60);
height: 550px;
width: 350px !important;
margin-top: 40px;
margin-left: 30px;
border-radius: 20px;
}

.aside{
    height: 550px;
    width:800px;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 20px
   
}
.aside input{
    display: block;
    width: 50%;
    padding: 12px;
    background-color: rgb(61, 60, 60);
    margin-top: 80px !important;
    margin-left: 200px !important;
    border-radius: 10px;
    outline: none;
}
.div1{
    background-color: rgb(61, 60, 60);
    height: 160px;
    width: 220px !important;
    margin-top: 50px;
    margin-left: 45px !important;
    border-radius: 20px;
    display: inline-block;
}
.div2{
    background-color: rgb(61, 60, 60);
    height: 150px;
    width: 80% !important;
    margin-top: 50px;
    margin-left: 50px !important;
    border-radius: 20px;
    display: block;
}
@media only screen and (max-width: 1260px){
    .side{
        
        height: 700px !important;
    }

}
@media only screen and (max-width: 850px){
    .div1{
        margin-left: 255px !important;
    }
    .aside input{
        margin-left: 190px !important;
    }
}
@media only screen and (max-width: 550px){
    .div1{
        margin-left: 130px !important;
    }
    .aside input{
        margin-left: 130px !important;
    }
}
@media only screen and (max-width: 430px){
    .div1{
        margin-left: 100px !important;
    }
.aside input{
    margin-left: 110px !important;
}
}